body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0; 
    font-family: 'Arial', sans-serif;
}

.stylish-title {
    color: #000; 
    font-size: 2.5em; 
    text-align: center;
    text-shadow:
        -1px -1px 0 #f00,  
         1px -1px 0 #f00,
        -1px  1px 0 #f00,
         1px  1px 0 #f00; 
    margin-bottom: 50px; 
}

h1 {
    margin-bottom: 20px;
    color: #333; 
}

div {
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0 10px; 
}

button {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s; 
}

button:hover {
    background-color: #0056b3; 
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .stylish-title {
        font-size: 2em; 
    }

    h1, button {
        font-size: 1rem; 
    }

    button {
        padding: 8px 16px; 
    }

    body, html {
        padding: 10px; 
    }
}